# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
#*.tfvars #MIRA A VER SI TE INTERESA QUITARLO CUANDO SEA DEFINITIVO, EL DIA DE LA PUBLICACION (ESO ES QUE HAY QUE QUITARLO SEGUN CHATGPT)
.terraform.tfstate.lock.info

# Python
__pycache__/
*.pyc
.venv/
.env
venv/
env/
.pytest_cache/
.mypy_cache/

# Kubernetes
*.log
.kube/

# Logs y otros
*.log
*.out
*.bak
.DS_Store

# Credenciales y configuraciones
.env
credentials.json